
  <!-- <header>

    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>

      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a href="https://www.ganatan.com/">&copy; 2019 - www.ganatan.com</a>
  </footer> -->






<header>
<nav>
  <ul>
    <li><a [routerLink]="['/']" >Home</a></li>
    <li><a [routerLink]="['/about']" >About</a></li>
    <li><a [routerLink]="['/contact']" >Contact</a></li>
  </ul>
</nav>
</header>
<body>
  <router-outlet></router-outlet>
</body>

<footer>
  <a href="https://www.ganatan.com/">&copy; 2019 - www.ganatan.com</a>
  </footer>



